body{
  background:#111;
  color:white;
  font-family:sans-serif;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.box{
  background:#1e1e1e;
  padding:30px;
  border-radius:15px;
  width:300px;
  text-align:center;
}

input{
  width:100%;
  padding:12px;
  margin-top:10px;
}

button{
  width:100%;
  padding:12px;
  margin-top:10px;
  background:green;
  color:white;
  border:none;
}
